{% extends "main.html.twig" %}

{% block title %}{{ 'dashboard.label'|trans }}{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item">{{ 'dashboard.label'|trans }}</li>
    </ol>
{% endblock %}

{% block content %}

    <div class="container-fluid px-0">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">{{ 'dashboard.codes'|trans }}</div>

                    <table class="table table-striped table-hover card-table">
                        <colgroup>
                            <col>
                            <col class="column-lg">
                            <col class="column-md">
                            <col class="column-sm">
                        </colgroup>

                        <thead>
                        <tr>
                            <th>{{ 'label.code'|trans }}</th>
                            <th>{{ 'label.requested_at'|trans }}</th>
                            <th>{{ 'label.comment'|trans }}</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for code in codes %}
                            <tr>
                                <td class="align-middle">
                                    <a href="{{ path('show_code', { uuid: code.uuid }) }}">
                                        {% for c in code.code|split('') %}
                                            {% if loop.index0 < 2 %}
                                                {{ c }}
                                            {% else %}
                                                *
                                            {% endif %}
                                        {% endfor %}
                                    </a>
                                </td>
                                <td class="align-middle">
                                    {{ code.requestedAt|format_datetime }}
                                </td>
                                <td class="align-middle">
                                    {{ code.comment }}
                                </td>
                                <td class="align-middle">
                                    <a class="btn btn-primary btn-sm" title="{{ 'show.label'|trans }}" href="{{ path('show_code', { uuid: code.uuid }) }}">
                                        <i class="fa fa-info-circle"></i>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>

                {% include "@Common/includes/pagination.html.twig" with {
                    currentFilters: [ ],
                    currentPage: page,
                    paginationPath: 'dashboard',
                    lastPage: pages,
                    showAlwaysFirstAndLast: true
                } %}
            </div>

            <div class="col-md-4">
                {% form_theme form "bootstrap_4_layout.html.twig" %}
                {{ form_start(form) }}
                <div class="card">
                    <div class="card-header">{{ 'request.label'|trans }}</div>
                    <div class="card-body">
                        {{ form_widget(form) }}
                    </div>
                    <div class="card-footer">
                        <button type="submit" class="btn btn-primary btn-sm">
                            {{ 'request.action'|trans }}
                        </button>
                    </div>
                </div>

                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}